body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
header{
    overflow: hidden;
    height: 100vh;
    position: relative;
}
.vid-bg{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.nav-area{
    background: rgba(0, 0, 0, 0.7);
    height: 60px;
    position: absolute;
    width: 100%;
}
.logo{
    margin: 10px 50px;
    height: 60px;
    float: left;
    color: #fff;
    font-size: 35px;
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 2px;
}
.logo span{
    color: #f5bb00;
}
.menu-area{
    float: right;
    list-style: none;
    margin: 20px 50px;
}
.menu-area li{
    display: inline-block;
    margin: 0 5px;
}
.menu-area li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
    letter-spacing: 2px;
}
.menu-area li.active a{
    color: #f5bb00;
}
.menu-area li a:hover{
    color: #f5bb00;
}
.banner-text{
    position: absolute;
    top: 35%;
    text-align: center;
    left: 30%;
}
.banner-text h2{
    color: #fff;
    font-size: 100px;
    margin: 0;
}
.banner-text h2 span{
    color:#f5bb00 ;
}
.banner-text p{
    color: #fff;
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}
.btn{
    display: inline-block;
    margin-top: 5%;
    background: #f5bb00;
    border: 0;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    border: 3px solid #f5bb00;
    padding: 10px 25px;
    border-radius: 25px;
}